body {
	background-color: transparent;
}

.yodel-111-comment {
	position: absolute;
	z-index: 998;
	height: auto;
	width: auto;
	background: beige;
	padding: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.yodel-111-comment > div {
	float: left;
	display: inline-block;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

.yodel-111-up-arrow {
	width: 0px;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid green;
}

.yodel-111-up-arrow:hover {
	opacity: 0.8;
}

.yodel-111-down-arrow {
	width: 0;
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid red;
}

.yodel-111-down-arrow:hover {
	opacity: 0.8;
}

.yodel-111-comment > div ~ div {
	margin-left: 5px;
}

.yodel-111-add {
	position: absolute;
	z-index: 999;
	height: 25px;
	width: 150px;
}






/*.placeddiv {
    background-color: transparent; 
    position: absolute; 
    z-index: 999;
}

.tsukform {
    width: 260px; 
    padding: 2px; 
    border: 1px solid #F8F8F8; 
    border-radius: 5px; 
    background-color: #F8F8F8; 
    display: block;
}

.tsukform > .tsukomi {
    padding-left: 30px; 
    width: 220px; 
    border: 1px solid #FFFFFF; 
    padding: 2px; 
    border-radius: 5px;
}

.arrow { 
    position: relative; 
    left: 3px; 
    top: 4px; 
    height: 11px; 
    width: 10px; 
    border: 1px solid black; 
    float: left; 
    clear: left; 
}

.downvote {

}
*/
